<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>by.epam.tr.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xmlViewer</servlet-name>
        <jsp-file>/WEB-INF/xmlViewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>xmlViewer</servlet-name>
        <url-pattern>/xmlViewer</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>
</web-app>